{% extends 'products/layout.html' %}

{% block title %}
Cart
{% endblock %}

{% block body %}

{% if user.is_authenticated %}
<div style="width: 100%; display: inline-flex;">
    <h1 style="width: 75%;">Welcome, {{user.last_name}}</h1>
    <a href="{% url 'edit_profile' %}" style="width: 24%;">
      <button type="button" class="btn btn-primary">Edit Profile</button>
    </a>
    <a href="#" style="width: 10%;">
      <button type="button" class="btn btn-primary">Delete Profile</button>
    </a>
    <a href="{% url 'cart' %}" style="width: 10%;">
      <button type="button" class="btn btn-primary">Cart</button>
    </a>
    <a href="{% url 'order_status' %}" style="width: 10%;">
      <button type="button" class="btn btn-primary">Order Status</button>
    </a>
</div>

    {% if cart %}
    <h1>Cart</h1>
    <p>Total Price: {{ cart_price }}</p>
    <ul>
        {% for item in cart_items %}
            <li>{{ item.product.product_name }} - {{ item.quantity }} - {{ item.product.product_price }}</li>
        {% endfor %}
    </ul>
    <form action="{% url 'success' %}" method="post">
        {% csrf_token %}
        <label for="shipping_address">Shipping Address:</label>
        <textarea id="shipping_address" name="shipping_address" required></textarea>
        <button type="submit" class="bg-primary">Place Order</button>
    </form>    
{% else %}
    <h1>No Items in Cart</h1>
    <p>Your cart is empty or inactive.</p>
    {% endif %}
{% endif %}
{% endblock %}
