{% extends 'products/layout.html' %}

{% block title %}
Contact
{% endblock %}

{% block body %}
<h1>Welcome {{ request.user.email }}</h1>
<div class="bd-example">
    <address>
      <strong>FoodShop, Inc.</strong><br />
      Empty Plot<br />
      Jubilee Town Commercial, Lahore<br />
      <abbr title="Phone">P:</abbr> 0333 444 5556
    </address>
  
    <address>
      <strong>Full Name</strong><br />
      <a href="mailto:#">first.last@example.com</a>
    </address>
  </div>
  <h1>Your feedback is valuable to us.</h1>
  
<!--
    <div class="form-group">
        {{form.as_p}}
    </div>
-->
    <form method="post", action="{% url 'contact' %}">
    {% csrf_token %}
    <div class="form-group row">
        <label for="{{form.subject.id_for_label}}" class="col-sm-2 col-form-label">{{form.subject.label_tag}}</label>
        <div class="col-sm-10">
          {{form.subject}}
        </div>
    </div>
    <div class="form-group row">
        <label for="{{form.feedback.id_for_label}}" class="col-sm-2 col-form-label">{{form.feedback.label_tag}}</label>
        <div class="col-sm-10">
          {{form.feedback}}
        </div>
    </div>



    <button type="submit" class="btn btn-primary">Submit</button>
  </form>


  {% endblock %}
