{% extends 'products/layout.html' %}

{% block title %}
Menu
{% endblock %}

{% block body %}
<h1>Welcome {{ request.user.email }}</h1>
<ul>
    {% for product in products %}
        <li>
            <h2>{{ product.product_name }}</h2>
            <p>Price: ${{ product.product_price }}</p>
            <p>Available Quantity: {{ product.product_quantity }}</p>
            <!-- Form to add the product to the cart -->
            <form method="POST" action="{% url 'menu' %}">
                {% csrf_token %}
                <label for="quantity">Quantity:</label>
                <input type="number" name="quantity" value="1" min="1" max="{{ product.inventory_quantity }}">
                <button type="submit">Add to Cart</button>
            </form>
        </li>
    {% endfor %}
</ul>
{% endblock %}
