{% extends 'products/layout.html' %}

{% block title %}
Status
{% endblock %}

{% block body %}
{% if user.is_authenticated %}
<div style="width: 100%; display: inline-flex;">
    <h1 style="width: 75%;">Welcome, {{user.last_name}}</h1>
    <a href="{% url 'edit_profile' %}" style="width: 24%;">
      <button type="button" class="btn btn-primary">Edit Profile</button>
    </a>
    <a href="#" style="width: 10%;">
      <button type="button" class="btn btn-primary">Delete Profile</button>
    </a>
    <a href="{% url 'cart' %}" style="width: 10%;">
      <button type="button" class="btn btn-primary">Cart</button>
    </a>
    <a href="{% url 'order_status' %}" style="width: 10%;">
      <button type="button" class="btn btn-primary">Order Status</button>
    </a>
</div>

<h1>Order Status</h1>
<ul>
    {% for order in orders %}
    <li>
        Order ID: {{ order.uid }}<br>
        User: {{ order.user.email }}<br>
        Total Price: {{ order.total_price }}<br>
        Order Date: {{ order.created_at|date:"Y-m-d" }}<br>
        Order Status: {{order.status}}
    </li>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}
