{% extends "products/layout.html" %}

{% block title %}
Products
{% endblock %}

{% block body %}
    <hr>
    <table class="table table-sm table-info">
        <tr class="table-info">
            <th class="bg-primary">Name</th>
            <th class="bg-primary">Description</th>
            <th class="bg-primary">Price</th>
            <th class="bg-primary">Image</th>
            {% if user.is_authenticated %}
                {% if user.is_staff %}
                    <th class="bg-primary">Edit/Delete</th>
                {% endif %}
            {% endif %}                
        </tr>
        {% for product in products %}
        <tr class="table-light">
            <td class="bg-primary">{{product.product_name}}</td>
            <td class="bg-primary">{{product.product_description}}</td>
            <td class="bg-primary">{{product.product_price}}</td>
            <td class="bg-primary">
                <img src="" alt="123">
            </td>
            {% if user.is_authenticated %}
                {% if user.is_staff %}
                    <th class="bg-primary"><a href="{% url 'edit_product' %}">
                        <button class="bg-primary">Edit Product</button>
                    </a></th>
                {% endif %}
            {% endif %}                
        </tr>
        {% endfor %}
    </table>  
{% endblock %}